include LICENSE
include requirements.txt
include words.txt

graft src/
graft src/appResources
graft src/appResources/docs
graft src/appResources/docs/database
graft src/appResources/docs/html
graft src/appResources/docs/json
graft src/appResources/docs/pictures
graft src/appResources/resources
graft src/appResources/resources/encryption
graft src/appResources/resources/PWDgenerator
graft src/appResources/resources/setup
graft src/appResources/resources/SQL
graft src/appResources/resources/web

prune src/__pycache__
prune src/appResources/__pycache__
prune src/appResources/resources/__pycache__
prune src/appResources/resources/encryption/__pycache__
prune src/appResources/resources/PWDgenerator/__pycache__
prune src/appResources/resources/setup/__pycache__
prune src/appResources/resources/SQL/__pycache__
prune Portal PWD ENV

global-exclude *.py[cod]