include LICENSE
include requirements.txt
include words.txt

graft resource/
graft resource/appResources
graft resource/appResources/docs
graft resource/appResources/docs/database
graft resource/appResources/docs/html
graft resource/appResources/docs/json
graft resource/appResources/docs/pictures
graft resource/appResources/resources
graft resource/appResources/resources/encryption
graft resource/appResources/resources/PWDgenerator
graft resource/appResources/resources/setup
graft resource/appResources/resources/SQL
graft resource/appResources/resources/web

prune resource/__pycache__
prune resource/appResources/__pycache__
prune resource/appResources/resources/__pycache__
prune resource/appResources/resources/encryption/__pycache__
prune resource/appResources/resources/PWDgenerator/__pycache__
prune resource/appResources/resources/setup/__pycache__
prune resource/appResources/resources/SQL/__pycache__

global-exclude *.py[cod]